extends ../layout.jade

block content
  a(href='/') Go back

  p Welcome to list of broadcasts &nbsp
    a(href=broadcast.url) #{broadcast.url}

  p
    a(href='/broadcasts/#{broadcast._id}') All

  p
    a(href='/broadcasts/#{broadcast._id}/joins') Joins:
    =(counts.join || 0)

  p
    a(href='/broadcasts/#{broadcast._id}/comments') Comments:
    =(counts.comment || 0)
  p Hearts: #{counts.heart || 0}

  block list
    ul.events
      each rec in events
        li.event(class=eventType(rec.type))
          div.time= new Date(rec.timestamp)
          div
            div.avatar
              a(href='http://twitter.com/#{rec.username}')
                img.user-avatar(src=rec.profileImageURL||'/images/twitter-egg-icon.jpg')
                div.inline-block
                  =rec.displayName
                if rec.username
                  div.inline-block.twitter-name
                    &#64;#{rec.username}
            if rec.body
              div.inline-block.text= rec.body
