doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
  p Welcome to list of broadcasts
  p= data.streamId

  ul.comments
    each rec in data
      li
        p= new Date(rec.timestamp)
        p <a href=http://twitter.com/#{rec.username}>#{rec.displayName}</a>
        p= rec.body
